@tailwind base;
@tailwind components;
@tailwind utilities;

/* styles.css or a similar file */
/* .fade-in {
    opacity: 0;
    transition: opacity 0.6s ease-in-out;
  }
  
  .fade-in.visible {
    opacity: 1;
  }
   */